<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head >
    <th:block th:replace="~{fragments/fragments :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Budget Tracker</title>
    <link th:rel="stylesheet" href="/css/client_views/budget_tracker.css">
</head>

<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>

<main>
    <div class="container p-4">
        <div class="card p-3 shadow">
            <h1 class="text-center fontTitle">Your Current Budget: <button id="budgetBtn" type="button" data-bs-toggle="modal" data-bs-target="#modalBtn">$<span th:text="${currentBalance}"></span>.00</button></h1>
            <hr>
            <div class="row vendor" th:each="category: ${session.categories}">
                <a th:href="@{/vendors/categories/{id}(id=${category.id})}" class="text-decoration-none text-black fontTitle vendorTitle"><h4 th:text="${category.title}"></h4></a>
                <div th:each="entry : ${budgetEntries}">
                    <div th:if="${entry.vendor.vendorCategory.title} == ${category.title}">
                        <div class="col">
                            <a href="/vendors/individual/1"><img class="image" src="/img/client_profile/venue_clientProfile.jpg" alt="Vendor Img"></a>
                        </div>
                        <div class="col font">
                            <p>Business Name: <span th:text="${entry} ? ${entry.vendor.businessName}"></span></p>
                            <p>Cost: $<span th:text="${entry} ? ${entry.amount}"></span></p>
                            <label>
                                <input type="text" th:text="${entry} ? ${entry.vendor.id}">
                            </label>
                            <button type="button" class="btn font budgetAmountModalBtn" th:name="${entry} ? ${entry.vendor.businessName}" th:data-id="${entry} ? ${entry.vendor.id}" data-bs-toggle="modal" data-bs-target="#budgetAmountModal">
                                Update Amount <i class="fa-solid fa-circle-dollar-to-slot"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</main>

<!-- Itemized Budget Modal-->
<div id="modalBtn" class="modal fade" role="dialog">
    <div class="container p-4">
        <div class="modal-dialog">
            <div class="modal-content card p-4">
                <div class="modal-header  ">
                    <h2 class="modal-title fontTitle text-center">Itemized Budget</h2>
                </div>
                <div class="modal-body ">
                    <div class="d-grid g-2 mb-3">
                        <input class="font mb-1" type="text" placeholder="Business Name:">
                        <input class="font mb-1" type="text" placeholder="Cost: ">
                    </div>
                    <div class="d-grid g-2 mb-3">
                        <input class="font mb-1" type="text" placeholder="Business Name:">
                        <input class="font" type="text" placeholder="Cost: ">
                    </div>
                    <div class="d-grid g-2 mb-3">
                        <input class="font mb-1" type="text" placeholder="Business Name:">
                        <input class="font mb-1" type="text" placeholder="Cost: ">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button  type="button" class="closeBtn btn btn-default" data-bs-toggle="modal" data-bs-dismiss="modalBtn">Save Changes</button>
                    <button type="button" class="closeBtn btn btn-default" data-bs-toggle="modal" data-bs-dismiss="modalBtn">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- EDIT BUDGET AMOUNT MODAL -->
<div id="budgetAmountModal" class="modal fade" role="dialog">
    <div class="container p-4">
        <div class="modal-dialog">
            <div class="modal-content card p-4">
                <div class="modal-header d-flex flex-column">
                    <h4 class="modal-title text-center fontTitle mb-0">Update Expense For</h4>
                    <h5 class="modal-title text-center fontTitle mt-0" id="expense-update-title">Vendor<</h5>
                </div>
                <div class="modal-body">
                    <form th:action="@{/budget/edit/}" method="POST" th:object="${budgetEntry}" id="budget-entry-model">
                        <input type="hidden" id="vendor" name="vendor" th:value="${budgetEntry.vendor}" />
                        <div>
                            <label for="amount" class="form-label"></label>
                            <input th:field="*{amount}" type="number" name="amount" class="form-control" id="amount"
                                   placeholder="Set an amount" th:required>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button  type="submit" class="closeBtn btn btn-default" data-bs-dismiss="modal">Save</button>
                            <button type="button" class="closeBtn btn btn-default" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- EDIT PROFILE MODAL -->
<div id="myModal" class="modal fade" role="dialog" sec:authorize="hasRole('ROLE_CUSTOMER')">
    <div class="container p-4">
        <div class="modal-dialog">
            <div class="modal-content card p-4">
                <div class="modal-header">
                    <h4 class="modal-title text-center fontTitle">Edit your profile</h4>
                </div>
                <div class="modal-body">
                    <form th:action="@{/customer/profile/edit}" method="POST" th:object="${customer}">
                        <div>
                            <!--user hidden fields-->
                            <input type="hidden" name="id" th:field="*{user.id}">
                            <input type="hidden" name="username" th:field="*{user.username}">
                            <input type="hidden" name="password" th:field="*{user.password}">
                        </div>
                        <div class="">
                            <label for="email" class="form-label"></label>
                            <input th:field="*{user.email}" type="email" name="email" class="form-control" id="email"
                                   placeholder="Enter your Email" th:required>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="firstName" class="form-label"></label>
                                <input th:field="*{user.firstName}" type="text" name="firstName" class="form-control" id="firstName"
                                       placeholder="Enter your First Name" th:required>
                            </div>
                            <div class="col">
                                <label for="lastName" class="form-label"></label>
                                <input th:field="*{user.lastName}" type="text" name="lastName" class="form-control" id="lastName"
                                       placeholder="Enter your Last Name" th:required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="partnerFName" class="form-label"></label>
                                <input th:field="*{partnerFName}" type="text" name="partnerFName" class="form-control" id="partnerFName"
                                       placeholder="Enter your partners' first name" th:required>
                            </div>
                            <div class="col">
                                <label for="partnerLName" class="form-label"></label>
                                <input th:field="*{partnerLName}" type="text" name="lastName" class="form-control" id="partnerLName"
                                       placeholder="Enter your Last Name" th:required>
                            </div>
                        </div>
                        <div class="row g-3 d-flex align-items-center">
                            <div class="col-auto">
                                <label for="vendorCity" class="form-label"></label>
                                <input th:field="*{user.city}" type="text" name="city" class="form-control" id="vendorCity"
                                       placeholder="Enter your City">
                            </div>
                            <div class="col-auto ">
                                <label for="vendor-user-state"></label>
                                <select th:field="*{user.state}" id="vendor-user-state" class="form-select">
                                    <option th:value="xx">Select your State...</option>
                                    <option th:each="option : ${options}" th:text="${option}" th:value="${option}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="budget" class="form-label"></label>
                                <input th:field="*{budget}" type="text" name="budget" class="form-control" id="budget"
                                       placeholder="Enter your budget amount" th:required>
                            </div>
                            <div class="col">
                                <label for="guestCount" class="form-label"></label>
                                <input th:field="*{guestCount}" type="text" name="guestCount" class="form-control" id="guestCount"
                                       placeholder="Enter your guest count" th:required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="weddingDt" class="form-label"></label>
                                <input th:field="*{weddingDt}" type="date" name="weddingDt" class="form-control" id="weddingDt"
                                       placeholder="Enter your wedding date" th:required th:value="${weddingDt}">
                            </div>
                            <!--Empty col to space the field-->
                            <div class="col"></div>
                        </div>
                        <div class="modal-footer d-flex mt-3 justify-content-between">
                            <button  type="submit" class="closeBtn btn btn-default" data-bs-dismiss="modal">Save</button>
                            <button type="button" class="closeBtn btn btn-default" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
<!--JAVASCRIPT-->
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/budgetModal.js"></script>
</body>
</html>