<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <th:block th:insert="~{fragments/fragments :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Guest List Manager</title>
    <link rel="stylesheet" href="/css/guest_list.css"/>
</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>
<!--EDIT GUEST MODAL -->
<div id="editGuestModal" class="modal fade" role="dialog">
</div>
<!--ADD GUEST MODAL -->
<div id="addGuestModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="edit-guest-group-modal">
                <div class="modal-header">
                    <h3 id="guest-modal-title" class="mb-0">Add Guest</h3>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form th:action="@{/clients/guests/add}" th:object="${guest}" method="post">
                            <div class="mb-2 row">
                                <div class="col">
                                    <label for="fname" class="form-label"></label>
                                    <input type="text" class="form-control" id="fname" th:field="*{fname}"
                                        placeholder="First Name">
                                </div>
                                <div class="col">
                                    <label for="lname" class="form-label"></label>
                                    <input type="text" class="form-control" id="lname" th:field="*{lname}"
                                        placeholder="Last Name">
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="email" class="form-label"></label>
                                <input type="text" class="form-control" id="email" th:field="*{email}"
                                    placeholder="E-Mail">
                            </div>
                            <div class="mb-2">
                                <label for="phone" class="form-label"></label>
                                <input type="tel" class="form-control" id="phone" th:field="*{phNumber}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                    placeholder="Phone Number">
                            </div>
                            <div class="mb-2">
                                <div class="row">
                                    <div class="col">
                                        <label for="street" class="form-label"></label>
                                        <input type="text" class="form-control" id="street" th:field="*{street}"
                                            placeholder="Street Address">
                                    </div>
                                    <div class="col">
                                        <label for="apt" class="form-label"></label>
                                        <input type="text" class="form-control" id="apt" th:field="*{aptNo}"
                                               placeholder="Apt.">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="city" class="form-label"></label>
                                        <input type="text" class="form-control" id="city" th:field="*{city}"
                                               placeholder="City">
                                    </div>
                                    <div class="col">
                                        <label for="state" class="form-label"></label>
                                        <select th:field="*{state}" id="state" class="form-select">
                                            <option th:value="xx">Select your State...</option>
                                            <option th:each="option : ${options}" th:text="${option}" th:value="${option}"></option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="zip" class="form-label"></label>
                                        <input type="text" class="form-control" id="zip" th:field="*{zip}"
                                               placeholder="Zip Code">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-evenly mt-2">
                                <div class="d-flex justify-content-start w-100">
                                    <button class="btn btn-outline-secondary me-3" type="submit">Save</button>
                                    <button class="btn btn-outline-secondary" type="submit">Save & Add More</button>
                                </div>
                                <div class="ms-end">
                                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-dismiss="addGuestModal">Cancel</button>
                                </div>

                            </div>
                            <label for="plus_one"></label>
                            <input type="hidden" class="form-check-input" id="plus_one" th:field="*{plusOne}">
                            <label for="rsvp"></label>
                            <input type="hidden" name="rsvp" id="rsvp" th:field="*{rsvp}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="container p-4">
        <div class="card p-5">
            <h1 class="text-center fontTitle">Your Guests: 0000</h1>
            <div class="card p-5 m-5" id="card1">
                <div class="card-title text-center">
                    <h3 class="fontTitle">RSVP'd: 0000</h3>
                </div>
                <hr>
                <div class="card-body text-center">
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                </div>
            </div>
            <div class="card p-5 m-5" id="card2">
                <div class="card-title text-center">
                    <h3 class="fontTitle" >Regretfully Declined: 0000</h3>
                    <hr>
                </div>
                <div class="card-body text-center">
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                </div>
            </div>
            <div class="card p-5 m-5 " id="card3">
                <div class="card-title d-flex text-center">
                    <div>
                        <h3 class="fontTitle justify-content-start">Invited: 0000</h3>
                    </div>
                    <div class="justify-content-end">
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#addGuestModal">
                            Add Guest <i class="fa-solid fa-plus">
                        </i>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="card-body text-center">
                    <hr>
                    <div class="d-flex align-items-center justify-content-around">
                        <button type="button" class="btn font editModalBtn" data-bs-toggle="modal"
                                data-bs-target="#editGuestModal">
                            Edit <i class="fa-solid fa-pencil">
                        </i>
                        </button>
                        <p class="card-text font mb-0">
                        <table>
                            <tr>
                                <th>NAME</th>
                                <th>NO.</th>
                                <th>EMAIL</th>
                            </tr>
                            <tr>
                            </tr>
                        </table>
                        fname lname plus_one email
                        </p>
                        <button type="button" class="btn font">
                            RSVP <i class="fa-regular fa-circle-check">
                        </i>
                        </button>
                        <button type="button" class="btn font">
                            Decline <i class="fa-regular fa-circle-xmark">
                        </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
<!--JAVASCRIPT-->
<script type="text/javascript" src="/guest_listModal.js"></script>
</body>
</html>