<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/fragments :: head}" >
    <meta charset="UTF-8">
    <title>Idea Board</title>
</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>

<div class="container mt-3 mb-3">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Your Ideas</h1>
        </div>
        <div class="card-body text-center">
            <img src="" alt="pic">
            <img src="" alt="pic">
            <img src="" alt="pic">
            <img src="" alt="pic">
            <img src="" alt="pic">
            <img src="" alt="pic">
            <img src="" alt="pic">
            <img src="" alt="pic">
        </div>
    </div>
</div>

<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>