main{
    background-color: #FFE5D2;
}

#mainCard{
    background-color: #FFFAF7;
    border-radius: 20px;
    border: 1px solid lightgray;
}

.title{
    font-family: "Luxurious Roman";
}

.card{
    border-radius: 20px;
    border: 1px solid lightgray;
}