main{
    background-color: #FFE5D2;

}
.card{
    background-color: #FFFAF7;
    border-radius: 20px;
    border: 1px solid lightgray;
}

.card-body {
    /*height: 100vh;*/
    padding:0;
}
.image{
    width: 340px;
    object-fit: cover;
    margin:5px;
    border-radius: 20px;
    border: 1px solid lightgray;
}
#ideaBoardAddBtn{
    /*border-radius: 0;*/
    border: none;
    background-color: #212727;
    color:white;
}
#ideaBoardAddBtn:hover, #addBtn:hover, #closeBtn:hover{
    background-color: #E19B6E;
}

.fontTitle{
    margin-top: 5%;
}