<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/fragments :: head}">
    <meta charset="UTF-8">
    <title>Client Registration</title>
</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>

<div class="card mx-5 mt-5 mb-5">
    <div class="row">
        <div class="col">
            <img id="loginimage" src="/img/flowers.jpg">
        </div>
        <div class="col text-center px-3 pt-5">
            <h1>CREATE YOUR DREAM WEDDING ONE CLICK AT A TIME</h1>

            <form
                    th:action="@{/client/registration}"
                    method="POST"
                    th:object="${customer}">
                <div class="mb-3">
                    <label for="email" class="form-label"></label>
                    <input th:field="*{user.email}" type="text" name="email" class="form-control" id="email"
                           placeholder="Enter your Email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label"></label>
                    <input th:field="*{user.password}" type="text" name="password" class="form-control" id="password"
                           placeholder="Select a password">
                </div>
                <div class="mb-3">
                    <label for="cPassword" class="form-label"></label>
                    <input type="text" name="cPassword" class="form-control" id="cPassword"
                           placeholder="Confirm your password">
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label"></label>
                    <input th:field="*{user.firstName}" type="text" name="firstName" class="form-control" id="firstName"
                           placeholder="Enter your First Name">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label"></label>
                    <input th:field="*{user.lastName}" type="text" name="lastName" class="form-control" id="lastName"
                           placeholder="Enter your Last Name">
                </div>
                <div class="mb-3">
                    <label for="partnerFName" class="form-label"></label>
                    <input th:field="*{partnerFName}" type="text" name="partnerFName" class="form-control" id="partnerFName"
                           placeholder="Enter your Partners First Name">
                </div>
                <div class="mb-3">
                    <label for="partnerLName" class="form-label"></label>
                    <input th:field="*{partnerLName}" type="text" name="partnerLName" class="form-control" id="partnerLName"
                           placeholder="Enter your Partners Last Name">
                </div>
                <div class="row g-3 d-flex align-items-center">
                    <div class="col-auto">
                        <label for="city" class="form-label"></label>
                        <input th:field="*{user.city}" type="text" name="city" class="form-control" id="city"
                               placeholder="Enter your City">
                    </div>
                    <div class="col-auto mt-1">
                        <select th:field="*{user.state}" class="form-select">
                            <option th:value="xx">Select your State...</option>
                            <option th:each="option : ${options}" th:text="${option}" th:value="${option}"></option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label"></label>
                    <input th:field="*{weddingDt}" type="date" name="date" class="form-control" id="date" placeholder="Enter your Wedding Date">
                </div>
                <div class="mb-3">
                    <label for="budget" class="form-label"></label>
                    <input th:field="*{budget}" type="text" name="budget" class="form-control" id="budget"
                           placeholder="Enter your Budget Range">
                </div>
                <div class="mb-3">
                    <label for="guestCount" class="form-label"></label>
                    <input th:field="*{guestCount}" type="text" name="guestCount" class="form-control" id="guestCount"
                           placeholder="Enter your Estimated Guest Count">
                </div>
                <button type="submit" id="verifyBtn" class="btn btn-secondary pb-3">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<!--Password matching-->
<script>
    $('#verifyBtn').prop("disabled", true)

    $("#cPassword" ).focusout(function() {
        if($('#password').val() !== $('#cPassword').val()){
            $('#password').css('border-color', 'red');
            $('#cPassword').css('border-color', 'red');
        } else {
            $('#password').css('border-color', 'green');
            $('#cPassword').css('border-color', 'green');
            $('#verifyBtn').prop('disabled', false)
        }
    });
</script>
</body>
</html>