<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}" >
    <meta charset="UTF-8">
    <title>Email Verification</title>
</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>

<div class="container">
  <div class="row ">
    <div class="col">
      <h1>A verification link has been sent to your email account</h1>
      <h3>Please click on the link that has just been sent to your email account to verify your email and continue the registration process.</h3>
    </div>
    <div class="col">
      <img src="/img/flowers.jpg" alt="picture" id="emailVerificationImg1">
    </div>
    <div class="col">
      <img src="/img/flowers.jpg" alt="picture" id="emailVerificationImg2">
    </div>
  </div>
</div>

<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>