<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/fragments :: head}" >
    <meta charset="UTF-8">
    <title>Client Login</title>
</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>

<div class="card mx-5 mt-5 mb-5">
    <div class="row">
        <div class="col">
            <img id="loginimage" src="/img/flowers.jpg">
        </div>
        <div class="col text-center px-3 pt-5">
            <h1>CREATE YOUR DREAM WEDDING ONE CLICK AT A TIME</h1>
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label"></label>
                    <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter your Email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label"></label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter your Password">
                </div>
                <span class="pb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
<!--                    <a href="/"><button type="submit" class="btn btn-secondary">Sign-up</button></a>-->
                </span>
            </form>
        </div>
    </div>
</div>

<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>