main{
    background-color: #FFE5D2;
}

#loginimage{
    object-fit: cover;
    width:600px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.card{
    border: 1px solid lightgray;
    background-color: #FFFAF7;
    border-radius: 20px;
}

#loginBtn{
    background-color: #212727;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.fontTitle{
    padding-top: 150px;
}

#signupClient, #signupVendor {
    color:#212727;
}
a:hover{
    color:#E19B6E !important;
}

.form-control{
    font-family: 'Nunito Sans', sans-serif;
}

.font{
    font-family: 'Nunito Sans', sans-serif;
}