<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <th:block th:insert="~{fragments/fragments :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Idea Board Info</title>
    <link th:rel="stylesheet" href="/css/learn_more/ideaBoard_learnMore.css"/>

</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>

<main>
    <div class="container p-4">
        <div class="card" id="ideaCard">
            <h1 class="card-title text-center fontTitle pt-3">Idea Board</h1>
              <div class="row">
                    <div class="col pt-5" id="ideaCol">
                        <div class="pb-5" id="text">
                            <p class="font">With Wedding Wise's idea board, you can collect and organize all of your wedding inspiration in one place. Whether it's photos, articles, or Pinterest boards, you can save it all in Wedding Wise.</p>
                        </div>
                        <div class="dropdown ">
                            <button class="dropdown-toggle btn btn-secondary font" type="button" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="button">
                                Sign-Up Here
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item font" href="/client/registration">Sign-up as Client</a></li>
                                <li><a class="dropdown-item font" href="/vendor/registration">Sign-up as Vendor</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col pt-5" id="ideaColImg">
                        <img src="/img/idea_learn_more.jpg" class="image" alt="picture">
                    </div>
              </div>
        </div>
    </div>
</main>
<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>