<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}">
    <meta charset="UTF-8">
    <title>Visitor Guest List Manager</title>
</head>
<body>
<nav th:insert="fragments/fragments :: navbar"></nav>
<!--SIDEBAR-->
<div th:insert="fragments/fragments :: sidebar"></div>

<div class="container p-3">
    <div class="card row">
        <span class="col">
            <h1 class="text-center">Guest List Manager</h1>
            <p>Keep track of your wedding guests and their RSVPs with Wedding Wise's guest list manager. You can also use this feature to communicate with your guests and send out invitations via group email.</p>
            <span class="dropdown ">
                <button class="dropdown-toggle btn btn-secondary " type="button" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sign-Up Here
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/client/registration">Sign-up as Client</a></li>
                    <li><a class="dropdown-item" href="/vendor/registration">Sign-up as Vendor</a></li>
                </ul>
            </span>
        </span>
        <span class="col">
            <img src="..." alt="picture">
        </span>
    </div>
</div>

<footer th:insert="~{fragments/fragments :: footer}"></footer>

<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>