main{
    background-color: #FFE5D2;

}
.card{
    background-color: #FFFAF7;
    border-radius: 0;
    border: 1px solid #212727;
}

.modal-content{
    border-radius: 0 !important;
}

#card1, #card2, #card3{
    background-color: #FFE5D2 !important;
}

.editGuestText{
    width:100%;
}
.btn:hover{
   color: #E19B6E;
}

