main{
    background-color: #FFE5D2;
}

td {
    vertical-align: middle;
}


#mainCard{
    background-color: #FFFAF7;
    border-radius: 20px;
    border: .5px solid lightgrey;
}

#border {
    position: relative;
    flex:auto;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 10px;
    width: 350px;
    height: 200px;
    top: 50%;
    left: 40%;
}
.card{
    background-color: #FFFAF7;
    border-radius: 20px;
    border: .5px solid lightgrey;
}

.modal-content{
    /*border-radius: 0 !important;*/
}

#card1, #card2, #card3{
    background-color: #FFE5D2 !important;
}

.editGuestText{
    width:100%;
}
.btn:hover{
   color: #E19B6E;
}

/*.text-center{*/
/*    margin-top: 5%;*/
/*}*/

.index-box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
