/*MEDIA QUERIES*/
@media screen and (max-width: 640px) {
    #vendorColImg, #budgetColImg, #guestColImg, #ideaColImg {
        display: none;
    }

    body {
        margin-right: 0;
    }

    #vendorCol, #budgetCol, #guestCol, #ideaCol {
        margin: 15px 0 15px 0;
    }
}

@media screen and (min-width: 640px) and (max-width: 1428px) {
    #vendorColImg, #budgetColImg, #guestColImg, #ideaColImg {
        display: block;
    }
}

@media screen and (min-width: 1428px) and (max-width: 1513px) {
    #vendorColImg, #budgetColImg, #guestColImg, #ideaColImg {
        display: block;
        flex: auto;
        justify-content: center;
    }

}

@media screen and (min-width: 1513px) {
    #vendorColImg, #budgetColImg, #guestColImg, #ideaColImg {
        display: block;
        flex: auto;
        justify-content: center;
    }

    #vendorCol, #budgetCol, #guestCol, #ideaCol {
        font-family: 'Nunito Sans', sans-serif;
        font-size: x-large;
    }
}

/*FIXING MARGIN LINE*/
* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*HERO*/
.brand-font {
    font-family: 'Luxurious Roman', cursive;
}

#hero {
    background: url("../img/home_page/hero_background.jpg") no-repeat;
    background-size: cover;
    /*object-fit: cover !important;*/
    object-position: 75% 50% !important;
    height: 50vh;
}

#hero-text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#hero-brand {
    font-size: xxx-large;
}

#hero-text-background {
    background-color: #FFFAF7;
    opacity: 85%;
    border-radius: 50px;
    padding: 50px;
}

#hero-tagline {
    font-family: 'Nunito Sans', sans-serif;
}

/*MAIN*/
main {
    background-color: #FFE5D2;
}

#vendorRow, #budgetRow, #guestRow, #ideaRow {
    text-align: left;
    position: relative;
}

#vendorCol, #budgetCol, #guestCol, #ideaCol {
    font-family: 'Nunito Sans', sans-serif;
    font-size: x-large;
}

/*#vendorColImg, #budgetColImg, #guestColImg, #ideaColImg {*/
/*    background-color: #FFFAF7;*/
/*    padding: 12px;*/
/*}*/

#vendorImg, #budgetImg, #guestImg, #ideaImg {
    border-radius: 20px;
    height: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: .5px solid lightgray;
}

#budgetImg, #ideaImg {
    margin-right: 0;
    /*margin-left: 50px;*/
}

#vendorImg, #guestImg {
    margin-left: 0;
    /*margin-right: 50px;*/
}

#guestColImg, #vendorColImg {
    /*padding-left: 12px;*/
}

.vendorSection {
    width: 80%;
    height: auto;
    /*margin-top: 100px;*/
    /*margin-left: 75px;*/
    /*padding: 75px;*/
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

b {
    font-family: 'Nunito Sans', sans-serif;
}
