#micahpic,#andreapic,#billiepic,#claytonpic {
    width: 65px;
    height: 75px;
    border-radius: 50px;
}

#loginimage{
    background: url("../img/flowers.jpg") no-repeat;
    height: 100vh;
    width:50vw;
    background-size: cover;
}

#emailVerificationImg1, #emailVerificationImg2 {
    height: 50px;
    width:50px;
}

#profileImg{
    border-radius: 50px;
    height: 100px;
    width:100px;
}
.image{
    height:300px;
}

#businessProfileImg{
    height:250px;
    width:250px;
}