/*FIXING MARGIN LINE*/
*{
    box-sizing: border-box;
    margin: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*IMAGES*/
#loginimage{
    background: url("../img/flowers.jpg") no-repeat;
    height: 100vh;
    width:50vw;
    background-size: cover;
}

#emailVerificationImg1, #emailVerificationImg2 {
    height: 50px;
    width:50px;
}

/*.image{*/
/*    height:300px;*/
/*}*/

/*#businessProfileImg{*/
/*    height:250px;*/
/*    width:250px;*/
/*}*/

/*BACKGROUNDS*/
#navbar, #footer{
    background-color: #FFFAF7 !important;
}

#sign-up-btn{
    background-color: #212727;
    color: white;
}
a:hover{
    color: #E19B6E !important;
}
/*FONTS*/
.navbar-brand{
    font-family: 'Luxurious Roman', cursive;
}
.nav-item {
    font-family: 'Nunito Sans', sans-serif;
}

/*NAVBAR*/
#navbar{
    border-bottom: 1px solid #212727;
}

/*CUSTOMER SIDEBAR*/
#offcanvasSideBarCustomer{
    background-color: #FFE5D2;
}

#customerProfileImg{
    border-radius: 50%;
    object-fit: cover;
    height:250px;
    width:300px;
    margin-left: 20px;
}
.editIcon{
    flex:auto;
    justify-content: flex-end;
}
#lastname{
    text-align: center;
    font-family: 'Luxurious Roman', cursive;
}

#dateBg {
    text-align: center;
    padding-top:10px;

}
#bottomBg{
    /*background-color: #FFFAF7;*/
    /*border-radius: 20%;*/
    margin:10px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
}
.font{
    font-family: 'Nunito Sans', sans-serif;
}

ul{
    list-style-type: circle;
}



/*VENDOR SIDEBAR*/
#offcanvasSideBarVendor{
    background-color: #FFE5D2;
}
#businessProfileImg{
    border-radius: 50%;
    width:300px;
    height:250px;
    object-fit: cover;
    margin-left: 20px;

}
.fontTitle {
    font-family: 'Luxurious Roman', cursive;
}
#editVendorProfileModalBtn:hover{
    color: #E19B6E;
}

.nav-link{
    font-family: 'Nunito Sans', sans-serif;
}

/*edit customer profile modal*/
.card{
    background-color: #FFFAF7;
    border-radius: 0;
    border: 1px solid #212727;}