
/*IMAGES*/
#loginimage{
    background: url("../img/flowers.jpg") no-repeat;
    height: 100vh;
    width:50vw;
    background-size: cover;
}

#emailVerificationImg1, #emailVerificationImg2 {
    height: 50px;
    width:50px;
}

.image{
    height:300px;
}

#businessProfileImg{
    height:250px;
    width:250px;
}

/*BACKGROUNDS*/
#navbar, #footer{
    background-color: #FFFAF7 !important;
}

#sign-up-btn{
    background-color: #212727;
    color: white;
}

/*FONTS*/
.navbar-brand{
    font-family: 'Luxurious Roman', cursive;
}
.nav-item {
    font-family: 'Nunito Sans', sans-serif;
}

/*CUSTOMER SIDEBAR*/
#offcanvasSideBarCustomer{
    background-color: #FFE5D2;
}

.profileImg{
    border-radius: 50%;
    height: 200px;
    width:200px;
}