<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/fragments :: head}"></th:block>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link th:rel="stylesheet" href="/css/about_us.css">
</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>
<!--EDIT PROFILE MODAL-->
<div th:insert="~{fragments/fragments :: profileModal}"></div>

<main>
    <div class="container p-3">
        <div class="card border-secondary container-fluid" id="mainCard">
            <div class="row" id="titleRow">
                <div class="col">
                    <h1 class="title">The I Do Crew</h1>
                    <p class="font" id="title-text">We are the I-Do Crew: Developers of Wedding Wise and here to help you make your dream wedding a reality!</p>
                </div>
            </div>
            <div class="row" id="micahRow">
                <div class="col" id="micahCol">
                    <h4 class="font">Micah Larson</h4>
                    <h6 class="font">Software Developer</h6>
                    <p class="font">Micah Larson is a talented software developer with a passion for creating exceptional user experiences. With her experience in web development, Micah plays a key role in designing and implementing the user interface of the Wedding Wise web application. She has experience working with HTML, CSS, and JavaScript, and is always staying up-to-date with the latest web design trends and technologies. Micah's attention to detail ensures that every aspect of Wedding Wise is visually appealing, intuitive to use, and functional. When she's not coding, Micah enjoys hiking, exploring new cities, reading, and cooking.</p>
                    <a href="https://www.linkedin.com/in/micah-larson-95808722a/" class="text-dark text-decoration-none fa-2x"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/micah810" class="text-dark text-decoration-none fa-2x"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="col">
                    <img id="micahpic" src="/img/headshots/micah_larson_headshot.jpg" alt="micah headshot">
                </div>
            </div>
            <div class="row" id="andreaRow">
                <div class="col">
                    <img id="andreapic" src="/img/headshots/andrea_varnado_headshot.jpg" alt="andrea headshot">
                </div>
                <div class="col" id="andreaCol">
                    <h4 class="font">Andrea Varnado</h4>
                    <h6 class="font">Software Developer</h6>
                    <p class="font">Andrea Varnado is a talented software developer with a passion for creating innovative and user-friendly applications. She specializes in web development, with experience working with technologies like Java, Spring, HTML, CSS, JavaScript, and Thymeleaf. As a member of the Wedding Wise development team, Andrea plays a critical role in building and maintaining the web-based application, from designing the user interface to styling the different webpages. Her technical skills and attention to detail ensure that Wedding Wise is visually appealing, providing users with an enjoyable experience. When she's not coding, Andrea enjoys singing, traveling, reading and spending time with her family and friends.</p>
                    <a href="https://www.linkedin.com/in/andrea-varnado/" class="text-dark text-decoration-none  fa-2x"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/andvarna99" class="text-dark text-decoration-none fa-2x"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="row" id="billieRow">
                <div class="col" id="billieCol">
                    <h4 class="font">Billie Dorries</h4>
                    <h6 class="font">Software Developer</h6>
                    <p class="font">Billie Dorries is a talented software developer and Marine Corps Veteran who builds scalable and reliable applications. He specializes in backend development, with extensive experience working with technologies like Java, Javscript, JQuery, Spring, Thymeleaf, and C++. As a member of the Wedding Wise development team, Billie plays a critical role in building and maintaining the web-based application's backend functionality, ensuring that it runs smoothly and efficiently. His technical skills ensure that Wedding Wise is both functional and secure, providing users with a seamless experience. When he's not coding, Billie enjoys playing video games.</p>
                    <a href="https://www.linkedin.com/in/billie-dorries-04489a117/" class="text-dark text-decoration-none fa-2x"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/BDorries/" class="text-dark text-decoration-none fa-2x"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="col">
                    <img id="billiepic" src="/img/headshots/billie_dorries_headshot.png" alt="billie headshot">
                </div>
            </div>
            <div class="row" id="claytonRow">
                <div class="col">
                    <img id="claytonpic" src="/img/headshots/clayton_priestley_headshot.jpg" alt="clayton headshot">
                </div>
                <div class="col" id="claytonCol">
                    <h4 class="font">Clayton Priestley</h4>
                    <h6 class="font">Software Developer</h6>
                    <p class="font">Clayton Priestley is a skilled software developer with a passion for creating efficient and reliable applications. With extensive experience in backend development, Clayton specializes in technologies like Java, MySQL, and microservices. As a member of the Wedding Wise development team, Clayton is responsible for building and maintaining the web-based application's backend functionality, ensuring that it runs smoothly and securely. His technical skills and attention to detail are essential in ensuring that Wedding Wise is both reliable and user-friendly, providing a seamless experience for all users. When he's not coding, Clayton enjoys playing drums, reading, and spending time with his family.</p>
                    <a href="https://www.linkedin.com/in/clayton-priestley" class="text-dark text-decoration-none fa-2x"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/cpriestley" class="text-dark text-decoration-none fa-2x"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</main>

<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>