<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{fragments/fragments :: head}"></th:block>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link th:rel="stylesheet" href="/css/about_us.css">
</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>

<main>
    <div class="container p-3">
        <div class="card border-secondary container-fluid">
            <div class="row" id="titleRow">
                <div class="col">
                    <h1 class="title">The I Do Crew</h1>
                    <p class="font" id="title-text">We are the I-Do Crew: Developers of Wedding Wise and here to help you make your dream wedding a reality!</p>
                </div>
            </div>
            <hr>
            <div class="row" id="micahRow">
                <div class="col" id="micahCol">
                    <h4 class="font">Micah Larson</h4>
                    <h6 class="font">Software Developer</h6>
                    <p class="font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis et minus nemo nobis, suscipit voluptatibus.</p>
                    <a href="https://www.linkedin.com/in/micah-larson-95808722a/" class="text-dark text-decoration-none"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/micah810" class="text-dark text-decoration-none"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="col">
                    <img id="micahpic" src="/img/headshots/micah_larson_headshot.jpg" alt="micah headshot">
                </div>
            </div>
            <hr>
            <div class="row" id="andreaRow">
                <div class="col">
                    <img id="andreapic" src="/img/headshots/andrea_varnado_headshot.jpg" alt="andrea headshot">
                </div>
                <div class="col" id="andreaCol">
                    <h4 class="font">Andrea Varnado</h4>
                    <h6 class="font">Software Developer</h6>
                    <p class="font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis et minus nemo nobis, suscipit voluptatibus.</p>
                    <a href="https://www.linkedin.com/in/andrea-varnado/" class="text-dark text-decoration-none"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/andvarna99" class="text-dark text-decoration-none"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <hr>
            <div class="row" id="billieRow">
                <div class="col" id="billieCol">
                    <h4 class="font">Billie Dorries</h4>
                    <h6 class="font">Software Developer</h6>
                    <p class="font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis et minus nemo nobis, suscipit voluptatibus.</p>
                    <a href="https://www.linkedin.com/in/billie-dorries-04489a117/" class="text-dark text-decoration-none"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/BDorries/" class="text-dark text-decoration-none"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="col">
                    <img id="billiepic" src="/img/headshots/billie_dorries_headshot.png" alt="billie headshot">
                </div>
            </div>
            <hr>
            <div class="row" id="claytonRow">
                <div class="col">
                    <img id="claytonpic" src="/img/headshots/clayton_priestley_headshot.jpg" alt="clayton headshot">
                </div>
                <div class="col" id="claytonCol">
                    <h4 class="font">Clayton Priestley</h4>
                    <h6 class="font">Software Developer</h6>
                    <p class="font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis et minus nemo nobis, suscipit voluptatibus.</p>
                    <a href="https://www.linkedin.com/in/clayton-priestley" class="text-dark text-decoration-none"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/cpriestley" class="text-dark text-decoration-none"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</main>

<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>