<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/fragments :: head}">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>

<div class="container p-3">
    <div class="card container">
        <div class="row">
            <span class="col"></span>
            <span class="col">
                <h1>The I do Crew</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis et minus nemo nobis, suscipit voluptatibus.</p>
            </span>
        </div>
        <div class="row">
            <span class="col">
                <img id="micahpic" src="/img/headshots/micah_larson_headshot.jpg">
                <h4>Micah Larson</h4>
                <h6>Software Developer</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis et minus nemo nobis, suscipit voluptatibus.</p>
                <a href="https://www.linkedin.com/in/micah-larson-95808722a/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/micah810"><i class="fa-brands fa-github"></i></a>
            </span>
            <span class="col"></span>
        </div>
        <div class="row">
            <span class="col"></span>
            <span class="col">
                <img id="andreapic"src="/img/headshots/andrea_varnado_headshot.jpg">
                <h4>Andrea Varnado</h4>
                <h6>Software Developer</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis et minus nemo nobis, suscipit voluptatibus.</p>
                <a href="https://www.linkedin.com/in/andrea-varnado/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/andvarna99"><i class="fa-brands fa-github"></i></a>
            </span>
        </div>
        <div class="row">
            <span class="col">
                <img id="billiepic" src="/img/headshots/billie_dorries_headshot.png">
                <h4>Billie Dorries</h4>
                <h6>Software Developer</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis et minus nemo nobis, suscipit voluptatibus.</p>
                <a href="https://www.linkedin.com/in/billie-dorries-04489a117/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/BDorries/"><i class="fa-brands fa-github"></i></a>
            </span>
            <span class="col"></span>
        </div>
        <div class="row">
            <span class="col"></span>
            <span class="col">
                <img id="claytonpic" src="/img/headshots/clayton_priestley_headshot.jpg">
                <h4>Clayton Priestley</h4>
                <h6>Software Developer</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis et minus nemo nobis, suscipit voluptatibus.</p>
                <a href="https://www.linkedin.com/in/clayton-priestley"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/cpriestley"><i class="fa-brands fa-github"></i></a>
            </span>
        </div>
    </div>
</div>


<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>