<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/fragments :: head}">
    <meta charset="UTF-8">
    <title>Categories of Vendors</title>
</head>

<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>
<h1 style="text-align: center">Your Budget</h1>

<!--  Budget Modal-->
<button id="budgetBtn">Check Budget</button>
<div id="modalBtn" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Budget Information</h2>
        <p>Name: business name
            Cost: $0000</p>
        <p>Name: business name
            Cost: $0000</p>
        <p>Name: business name
        Cost: $0000</p>
    </div>
</div>

<div class="container-sm">
    <hr>
    <a href=""><h4>Venue</h4></a>
    <a href=""><img class="card-img-top" style="height: 150px; width: 150px;" src="http://via.placeholder.com/150x150" alt="Vendor Img"></a>
    <p>Business Name:</p>
    <p>Cost:</p>
    <i class="fa-solid fa-check"></i>

    <hr>
    <a href=""><h4>Photographer</h4></a>
    <a href=""><img class="card-img-top" style="height: 150px; width: 150px;" src="http://via.placeholder.com/150x150" alt="Vendor Img"></a>
    <p>Business Name:</p>
    <p>Cost:</p>
    <hr>
    <a href=""><h4>Band/DJ</h4></a>
    <a href=""><img class="card-img-top" style="height: 150px; width: 150px;" src="http://via.placeholder.com/150x150" alt="Vendor Img"></a>
    <p>Business Name:</p>
    <p>Cost:</p>

    <hr>
    <a href=""><h4>Florist</h4></a>
    <a href=""><img class="card-img-top" style="height: 150px; width: 150px;" src="http://via.placeholder.com/150x150" alt="Vendor Img"></a>
    <p>Business Name:</p>
    <p>Cost:</p>

    <hr>
    <a href=""><h4>Caterer</h4></a>
    <a href=""><img class="card-img-top" style="height: 150px; width: 150px;" src="http://via.placeholder.com/150x150" alt="Vendor Img"></a>
    <p>Business Name:</p>
    <p>Cost:</p>
</div>

<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>