<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories of Vendors</title>

    <!--  bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta2/css/all.css"
          integrity="sha384-+f01tPywJtZ3LMtJhFxXH+REzFvazkDDDR/GcRJk8s4s4K4">

    <script src="budgetModal.js"></script>
    <link rel="stylesheet" href="/static/css/budgetModal.css">

</head>

<body>
<!--bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
        integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
        crossorigin="anonymous"></script>
<h1 style="text-align: center">Your Budget</h1>

<!--  Budget Modal-->
<button id="budgetBtn">Check Budget</button>
<div id="modalBtn" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Budget Information</h2>
        <p>Name: business name
            Cost: $0000</p>
        <p>Name: business name
            Cost: $0000</p>
        <p>Name: business name
        Cost: $0000</p>
    </div>
</div>

<div class="container-sm">
    <hr>
    <a href="url"><h4>Venue</h4></a>
    <a href="url"><img class="card-img-top" src="..." alt="Vendor Img"></a>
    <p>Business Name:</p>
    <p>Cost:</p>
    <i class="fa-solid fa-check"></i>

    <hr>
    <a href="url"><h4>Photographer</h4></a>
    <a href="url"><img class="card-img-top" src="..." alt="Vendor Img"></a>
    <p>Business Name:</p>
    <p>Cost:</p>
    <hr>
    <a href="url"><h4>Band/DJ</h4></a>
    <a href="url"><img class="card-img-top" src="..." alt="Vendor Img"></a>
    <p>Business Name:</p>
    <p>Cost:</p>

    <hr>
    <a href="url"><h4>Florist</h4></a>
    <a href="url"><img class="card-img-top" src="..." alt="Vendor Img"></a>
    <p>Business Name:</p>
    <p>Cost:</p>

    <hr>
    <a href="url"><h4>Caterer</h4></a>
    <a href="url"><img class="card-img-top" src="..." alt="Vendor Img"></a>
    <p>Business Name:</p>
    <p>Cost:</p>
</div>
</div>
</body>
</html>