<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:insert="~{fragments/fragments :: head}"></th:block>
  <meta charset="UTF-8">
  <title>Error 500</title>
  <link rel="stylesheet" href="/css/error.css">
</head>

<body class="body">

<main>
  <div class="card text-right">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <img>
      </div>
      <div class="col">
        <h1>500 Server Error</h1>
        <h2>Oops, something went wrong!</h2>
        <p>Try refreshing the page</p>
        <a href="/">Go Home</a>
      </div>
    </div>
  </div>
</main>


<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>