<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head >
    <th:block th:insert="~{fragments/fragments :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Guest List Manager</title>
    <link rel="stylesheet" href="/css/guest_list.css"/>
</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>
<!--EDIT PROFILE MODAL-->
<div th:insert="~{fragments/fragments :: profileModal}"></div>

<main>
    <div class="container p-4">
        <div class="card p-5">
            <h1 class="text-center fontTitle">Your Guests: 0000</h1>
            <div class="card p-5 m-5" id="card1">
                <div class="card-title text-center">
                    <h3 class="fontTitle">RSVP'd: 0000</h3>
                </div>
                <hr>
                <div class="card-body text-center">
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                </div>
            </div>
            <div class="card p-5 m-5" id="card2">
                <div class="card-title text-center">
                    <h3 class="fontTitle" >Regretfully Declined: 0000</h3>
                    <hr>
                </div>
                <div class="card-body text-center">
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                </div>
            </div>
            <div class="card p-5 m-5 " id="card3">
                <div class="card-title text-center">
                    <h3 class="fontTitle" >Invited: 0000</h3>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn font addModalBtn" data-bs-toggle="modal" data-bs-target="#addGuestModal"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
                <hr>
                <div class="card-body text-center ">
                    <div class="d-flex align-items-center justify-content-around">
                        <button type="button" class="btn font editModalBtn" data-bs-toggle="modal" data-bs-target="#editGuestModal"><i class="fa-solid fa-pencil"></i></button>
                        <p class="card-text font">Guest Name-plus one-email address-phone number-street address</p>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-check"></i></button>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-xmark"></i></button>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-around">
                        <button type="button" class="btn font editModalBtn" data-bs-toggle="modal" data-bs-target="#editGuestModal"><i class="fa-solid fa-pencil"></i></button>
                        <p class="card-text font" >Guest Name-plus one-email address-phone number-street address</p>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-check"></i></button>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-xmark"></i></button>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-around">
                        <button type="button" class="btn font editModalBtn" data-bs-toggle="modal" data-bs-target="#editGuestModal"><i class="fa-solid fa-pencil"></i></button>
                        <p class="card-text font" >Guest Name-plus one-email address-phone number-street address</p>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-check"></i></button>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-xmark"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    <!--EDIT GUEST MODAL -->
    <div id="editGuestModal" class="modal fade" role="dialog">
        <div class="container p-4">
            <div class="modal-dialog">
                <div class="modal-content card">
                    <div class="modal-header">
                        <h4 class="modal-title fontTitle text-center">Edit a Guest</h4>
                    </div>
                    <div class="modal-body text-center ">
                        <div class="d-grid g-2 mb-3">
                            <input type="text" class="editGuestText mb-1" placeholder="Guest Name:">
                            <input type="text" class="editGuestText mb-1" placeholder="Plus One: (y/n)">
                            <input type="text" class="editGuestText mb-1" placeholder="Email Address:">
                            <input type="text" class="editGuestText mb-1" placeholder="Phone Number:">
                            <input type="text" class="editGuestText mb-1" placeholder="Street Address:">
                            <input type="text" class="editGuestText mb-1" placeholder="City:">
                            <input type="text" class="editGuestText mb-1" placeholder="State:">
                            <input type="text" class="editGuestText mb-1" placeholder="Zip-code:">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class=" closeBtn btn btn-default" data-bs-toggle="modal" data-bs-dismiss="editGuestModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--ADD GUEST MODAL -->
<div id="addGuestModal" class="modal fade" role="dialog">
    <div class="container p-4">
        <div class="modal-dialog">
            <div class="modal-content card">
                <div class="modal-header">
                    <h4 class="modal-title fontTitle text-center">Add a Guest</h4>
                </div>
                <div class="modal-body text-center ">
                    <div class="d-grid g-2 mb-3">
                        <input type="text" class="editGuestText mb-1" placeholder="Guest Name:">
                        <input type="text" class="editGuestText mb-1" placeholder="Plus One: (y/n)">
                        <input type="text" class="editGuestText mb-1" placeholder="Email Address:">
                        <input type="text" class="editGuestText mb-1" placeholder="Phone Number:">
                        <input type="text" class="editGuestText mb-1" placeholder="Street Address:">
                        <input type="text" class="editGuestText mb-1" placeholder="City:">
                        <input type="text" class="editGuestText mb-1" placeholder="State:">
                        <input type="text" class="editGuestText mb-1" placeholder="Zip-code:">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="closeBtn btn btn-default" data-bs-toggle="modal" data-bs-dismiss="addGuestModal">Add</button>
                    <button type="button" class="closeBtn btn btn-default" data-bs-toggle="modal" data-bs-dismiss="addGuestModal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
<!--JAVASCRIPT-->
<script type="text/javascript" src="/static/guest_listModal.js"></script>
</body>
</html>