<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/fragments :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/guest_list.css"/>
</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebar}"></div>
<h1 style="text-align: center">Your Guests</h1>
<div class="container" id="border">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="border: black; width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">RSVP'd: 0000</h5>
                    <hr>
                    <p class="card-text" style="text-align: center">Guest Name-party number-email-address</p>
                    <hr>
                    <p class="card-text" style="text-align: center">Guest Name-party number-email-address</p>
                    <hr>
                    <p class="card-text" style="text-align: center">Guest Name-party number-email-address</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="borderTwo">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="border: black; width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Regretfully Declined: 0000</h5>
                    <hr>
                    <p class="card-text" style="text-align: center">Guest Name-party number-email-address</p>
                    <hr>
                    <p class="card-text" style="text-align: center">Guest Name-party number-email-address</p>
                    <hr>
                    <p class="card-text" style="text-align: center">Guest Name-party number-email-address</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="borderThree">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="border: black; width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Invited: 0000</h5>
                    <hr>
                    <p class="card-text" style="text-align: center">Guest Name-party number-email-address</p>
                    <button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-pencil"></i></button>

                    <hr>
                    <p class="card-text" style="text-align: center">Guest Name-party number-email-address</p>
                    <button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-pencil"></i></button>

                    <hr>
                    <p class="card-text" style="text-align: center">Guest Name-party number-email-address</p>
                    <button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-pencil"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit a Guest</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="Name1" name="Guest Name">
                    <input type="text" id="Name2" name="Guest Name">
                    <input type="text" id="Name3" name="Guest Name">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
<!--JAVASCRIPT-->
<script type="text/javascript" src="/static/guest_listModal.js">
    <script src="https://kit.fontawesome.com/a88297ca40.js" crossorigin="anonymous"></script>
</body>
</html>