<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <th:block th:insert="~{fragments/fragments :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Guest List Manager</title>
    <link rel="stylesheet" href="/css/guest_list.css"/>
</head>
<body>
<!--NAVBAR-->
<nav th:insert="~{fragments/fragments :: navbar}"></nav>
<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>

<main>
    <div class="container p-4">
        <div class="card p-3 shadow-sm">
            <h1 class="text-center fontTitle">Your Guests: 0000</h1>
            <div class="card p-4 m-5" id="card1">
                <div class="card-title text-center">
                    <h3 class="fontTitle pt-2">RSVP'd: 0000</h3>
                </div>
                <hr>
                <div class="card-body text-center">
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                </div>
            </div>
            <div class="card p-4 m-5" id="card2">
                <div class="card-title text-center">
                    <h3 class="fontTitle pt-2" >Regretfully Declined: 0000</h3>
                    <hr>
                </div>
                <div class="card-body text-center">
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                    <hr>
                    <p class="card-text font" >Guest Name-party number-email address-phone number-street address</p>
                </div>
            </div>
            <div class="card p-4 m-5 " id="card3">
                <div class="card-title text-center">
                    <h3 class="fontTitle pt-2" >Invited: 0000</h3>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn font addModalBtn" data-bs-toggle="modal" data-bs-target="#addGuestModal"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
                <hr>
                <div class="card-body text-center ">
                    <div class="d-flex align-items-center justify-content-around">
                        <button type="button" class="btn font editModalBtn" data-bs-toggle="modal" data-bs-target="#editGuestModal"><i class="fa-solid fa-pencil"></i></button>
                        <p class="card-text font">Guest Name-plus one-email address-phone number-street address</p>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-check"></i></button>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-xmark"></i></button>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-around">
                        <button type="button" class="btn font editModalBtn" data-bs-toggle="modal" data-bs-target="#editGuestModal"><i class="fa-solid fa-pencil"></i></button>
                        <p class="card-text font" >Guest Name-plus one-email address-phone number-street address</p>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-check"></i></button>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-xmark"></i></button>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-around">
                        <button type="button" class="btn font editModalBtn" data-bs-toggle="modal" data-bs-target="#editGuestModal"><i class="fa-solid fa-pencil"></i></button>
                        <p class="card-text font" >Guest Name-plus one-email address-phone number-street address</p>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-check"></i></button>
                        <button type="button" class="btn font"><i class="fa-regular fa-circle-xmark"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    <!--EDIT GUEST MODAL -->
    <div id="editGuestModal" class="modal fade" role="dialog">
        <div class="container p-4">
            <div class="modal-dialog">
                <div class="modal-content card p-4">
                    <div class="modal-header">
                        <h4 class="modal-title fontTitle text-center">Edit a Guest</h4>
                    </div>
                    <div class="modal-body text-center ">
                        <div class="d-grid g-2 mb-3">
                            <input type="text" class="editGuestText mb-1" placeholder="Guest Name:">
                            <input type="text" class="editGuestText mb-1" placeholder="Plus One: (y/n)">
                            <input type="text" class="editGuestText mb-1" placeholder="Email Address:">
                            <input type="text" class="editGuestText mb-1" placeholder="Phone Number:">
                            <input type="text" class="editGuestText mb-1" placeholder="Street Address:">
                            <input type="text" class="editGuestText mb-1" placeholder="City:">
                            <input type="text" class="editGuestText mb-1" placeholder="State:">
                            <input type="text" class="editGuestText mb-1" placeholder="Zip-code:">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class=" closeBtn btn btn-default" data-bs-toggle="modal" data-bs-dismiss="editGuestModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--ADD GUEST MODAL -->
<div id="addGuestModal" class="modal fade" role="dialog">
    <div class="container p-4">
        <div class="modal-dialog">
            <div class="modal-content card p-4">
                <div class="modal-header">
                    <h4 class="modal-title fontTitle text-center">Add a Guest</h4>
                </div>
                <div class="modal-body text-center ">
                    <div class="d-grid g-2 mb-3">
                        <input type="text" class="editGuestText mb-1" placeholder="Guest Name:">
                        <input type="text" class="editGuestText mb-1" placeholder="Plus One: (y/n)">
                        <input type="text" class="editGuestText mb-1" placeholder="Email Address:">
                        <input type="text" class="editGuestText mb-1" placeholder="Phone Number:">
                        <input type="text" class="editGuestText mb-1" placeholder="Street Address:">
                        <input type="text" class="editGuestText mb-1" placeholder="City:">
                        <input type="text" class="editGuestText mb-1" placeholder="State:">
                        <input type="text" class="editGuestText mb-1" placeholder="Zip-code:">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="closeBtn btn btn-default" data-bs-toggle="modal" data-bs-dismiss="addGuestModal">Add</button>
                    <button type="button" class="closeBtn btn btn-default" data-bs-toggle="modal" data-bs-dismiss="addGuestModal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- EDIT PROFILE MODAL -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="container p-4">
        <div class="modal-dialog">
            <div class="modal-content card p-4">
                <div class="modal-header">
                    <h4 class="modal-title text-center fontTitle">Edit your profile</h4>
                </div>
                <div class="modal-body">
                    <form th:action="@{/customer/profile/edit}" method="POST" th:object="${customer}">
                        <div>
                            <!--user hidden fields-->
                            <input type="hidden" name="id" th:field="*{user.id}">
                            <input type="hidden" name="username" th:field="*{user.username}">
                            <input type="hidden" name="password" th:field="*{user.password}">
                        </div>
                        <div class="">
                            <label for="email" class="form-label"></label>
                            <input th:field="*{user.email}" type="email" name="email" class="form-control" id="email"
                                   placeholder="Enter your Email" th:required>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="firstName" class="form-label"></label>
                                <input th:field="*{user.firstName}" type="text" name="firstName" class="form-control" id="firstName"
                                       placeholder="Enter your First Name" th:required>
                            </div>
                            <div class="col">
                                <label for="lastName" class="form-label"></label>
                                <input th:field="*{user.lastName}" type="text" name="lastName" class="form-control" id="lastName"
                                       placeholder="Enter your Last Name" th:required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="partnerFName" class="form-label"></label>
                                <input th:field="*{partnerFName}" type="text" name="partnerFName" class="form-control" id="partnerFName"
                                       placeholder="Enter your partners' first name" th:required>
                            </div>
                            <div class="col">
                                <label for="partnerLName" class="form-label"></label>
                                <input th:field="*{partnerLName}" type="text" name="lastName" class="form-control" id="partnerLName"
                                       placeholder="Enter your Last Name" th:required>
                            </div>
                        </div>
                        <div class="row g-3 d-flex align-items-center">
                            <div class="col-auto">
                                <label for="vendorCity" class="form-label"></label>
                                <input th:field="*{user.city}" type="text" name="city" class="form-control" id="vendorCity"
                                       placeholder="Enter your City">
                            </div>
                            <div class="col-auto ">
                                <label for="vendor-user-state"></label>
                                <select th:field="*{user.state}" id="vendor-user-state" class="form-select">
                                    <option th:value="xx">Select your State...</option>
                                    <option th:each="option : ${options}" th:text="${option}" th:value="${option}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="budget" class="form-label"></label>
                                <input th:field="*{budget}" type="text" name="budget" class="form-control" id="budget"
                                       placeholder="Enter your budget amount" th:required>
                            </div>
                            <div class="col">
                                <label for="guestCount" class="form-label"></label>
                                <input th:field="*{guestCount}" type="text" name="guestCount" class="form-control" id="guestCount"
                                       placeholder="Enter your guest count" th:required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="weddingDt" class="form-label"></label>
                                <input th:field="*{weddingDt}" type="date" name="weddingDt" class="form-control" id="weddingDt"
                                       placeholder="Enter your wedding date" th:required th:value="${weddingDt}">
                            </div>
                            <!--Empty col to space the field-->
                            <div class="col"></div>
                        </div>
                        <div class="modal-footer d-flex mt-3 justify-content-between">
                            <button  type="submit" class="closeBtn btn btn-default" data-bs-dismiss="modal">Save</button>
                            <button type="button" class="closeBtn btn btn-default" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
<!--JAVASCRIPT-->
<script type="text/javascript" src="/static/guest_listModal.js"></script>
</body>
</html>