<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}" >
    <meta charset="UTF-8">
    <title>Wedding Wise Landing Page</title>
</head>
<body>
<header>
    <nav th:insert="~{fragments/fragments :: navbar}"></nav>

    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">WEDDING WISE</h1>
        <h4 class="mb-3">Happily ever after starts with a WISE plan</h4>
    </div>
</header>

<div class="container">
    <div class="row">
        <span class="col">
            <b>Vendors</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam architecto doloremque magnam molestiae, odio quidem?</p>
            <a href=""><button class="btn btn-outline-secondary">Learn More</button></a>
        </span>
        <span class="col mt-3 ms-5">
            <img src="..." alt="">
        </span>
    </div>
    <div class="row">
        <span class="col mt-3 ms-5">
            <img src="..." alt="">
        </span>
        <span class="col">
            <b>Budget Tracker</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam architecto doloremque magnam molestiae, odio quidem?</p>
            <a href="/visitor/budgettracker"><button class="btn btn-outline-secondary" >Learn More</button></a>
        </span>
    </div>
    <div class="row">
        <span class="col">
            <b>Guest List Manager</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam architecto doloremque magnam molestiae, odio quidem?</p>
            <a href="/visitor/guestlistmanager"><button class="btn btn-outline-secondary">Learn More</button></a>
        </span>
        <span class="col mt-3 ms-5">
            <img src="..." alt="">
        </span>
    </div>
    <div class="row">
        <span class="col mt-3 ms-5">
            <img src="..." alt="">
        </span>
        <span class="col">
            <b>Idea Board</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam architecto doloremque magnam molestiae, odio quidem?</p>
            <a href="/visitor/ideaboard"><button class="btn btn-outline-secondary">Learn More</button></a>
        </span>
    </div>
</div>

<footer th:insert="~{fragments/fragments :: footer}"></footer>
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>