<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/fragments :: head}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ">
    <title>Wedding Wise</title>
    <link th:rel="stylesheet" href="/css/index.css">
</head>
<body>

<header>
    <!--NAVBAR-->
    <nav th:replace="~{fragments/fragments :: navbar}"></nav>

    <div class="p-5 text-center container-fluid" id="hero">
        <div id="hero-text">
            <div id="hero-text-background">
                <h1 class="mb-3 brand-font" id="hero-brand">WEDDING WISE</h1>
                <h4 class="mb-3" id="hero-tagline">Happily ever after starts with a <span class="brand-font">WISE</span>
                    plan</h4>
            </div>
        </div>
    </div>
</header>

<!--CUSTOMER SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarCustomer}"></div>
<!--VENDOR SIDEBAR-->
<div th:insert="~{fragments/fragments :: sidebarVendor}"></div>

<main>
    <div class="container-fluid mx-auto px-5" id="featureContainer">
        <div class="row pt-3" id="vendorRow">
            <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center" id="vendorCol">
                <div class="vendorSection">
                        <h2 class="mb-3">Vendors</h2>
                        <p>Wedding Wise's vendor directory includes a list of vendors for couples to choose from.
                            Whether you're looking for a photographer, florist, caterer, musician, or other kinds of
                            vendors, you can find it all in Wedding Wise.</p>

                        <!--                    <a href="/info/vendors"><button class="btn btn-outline-secondary">Learn More</button></a>-->
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center" id="vendorColImg">
                    <img class="index-box-shadow" src="/img/home_page/vendor_home_page.jpg" alt="vendor img" id="vendorImg">
                </div>
            </div>
            <div class="row " id="budgetRow">
                <div class="col-6 d-flex justify-content-center align-items-center" id="budgetColImg">
                    <img class="index-box-shadow" src="/img/home_page/budget_home_page.jpg" alt="" id="budgetImg">
                </div>
                <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center" id="budgetCol">
                    <div class="vendorSection">
                        <h2 class="mb-3">Budget Tracker</h2>
                        <p>With Wedding Wise, you can easily set and track your wedding budget to ensure that you stay
                            on track financially. The app will automatically calculate your expenses and help you stay
                            within your budget.</p>
                        <!--                    <a href="/info/budget"><button class="btn btn-outline-secondary" >Learn More</button></a>-->
                    </div>
                </div>
            </div>
            <div class="row " id="guestRow">
                <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center" id="guestCol">
                    <div class="vendorSection">
                        <h2 class="mb-3">Guest List Manager</h2>
                        <p>Keep track of your wedding guests and their RSVPs with Wedding Wise's guest list manager. You
                            can also use this feature to communicate with your guests and send out invitations via group
                            email.</p>
                        <!--                    <a href="/info/guests"><button class="btn btn-outline-secondary">Learn More</button></a>-->
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center" id="guestColImg">
                    <img class="index-box-shadow" src="/img/home_page/guest_home_page.jpg" alt="" id="guestImg">
                </div>
            </div>
            <div class="row pb-3" id="ideaRow">
                <div class="col-6 d-flex justify-content-center align-items-center" id="ideaColImg">
                    <img class="index-box-shadow" src="/img/home_page/idea_home_page.jpg" alt="" id="ideaImg">
                </div>
                <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center" id="ideaCol">
                    <div class="vendorSection">
                        <h2 class="mb-3">Idea Board</h2>
                        <p>With Wedding Wise's idea board, you can collect and organize all of your wedding inspiration
                            in one place. Whether it's photos, articles, or Pinterest boards, you can save it all in
                            Wedding Wise.</p>
                        <!--                    <a href="/info/ideas"><button class="btn btn-outline-secondary">Learn More</button></a>-->
                    </div>
                </div>
            </div>
        </div>
</main>
<!--FOOTER-->
<footer th:insert="~{fragments/fragments :: footer}"></footer>
<!--BOOTSTRAP-->
<div th:insert="~{fragments/fragments :: bootstrapJs}"></div>
</body>
</html>